<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Page</title>
    </head>
    <body>
        <h1>
            we will be right basck
        </h1>
        <p>
the site undert construction
        </p>
    </body>
</html>